

          <div class="nav-side-menu">
            <div class="brand">&nbsp;&nbsp;</div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
            <div class="menu-list">
        
              <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>
                <li data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a><i class="fa fa-gift fa-lg"></i> Student Info <span class="arrow"> </span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                  <li routerLink="student"><a>Student</a></li>
                  <li routerLink="teacher"><a>Teacher</a></li>
                  <li routerLink="course"><a>Course</a></li>
                  <li routerLink="teacher"><a routerLink="teacher">Payment</a></li>
                </ul>
        
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fa fa-globe fa-lg"></i> Teacher Info <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="service">
                    <li><a routerLink="student">Student</a></li>
                    <li><a routerLink="teacher">Teacher</a></li>
                    <li><a routerLink="course">Course</a></li>
                    <li><a routerLink="teacher">Payment</a></li>
                </ul>
        
        
                <li data-toggle="collapse" data-target="#Course" class="collapsed">
                  <a href="#"><i class="fa fa-car fa-lg"></i> Course <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="Course">
                    <li><a routerLink="student">Student</a></li>
                    <li><a routerLink="teacher">Teacher</a></li>
                    <li><a routerLink="course">Course</a></li>
                    <li><a routerLink="teacher">Payment</a></li>
                </ul>
               
                <li data-toggle="collapse" data-target="#master" class="collapsed">
                  <a href="#"><i class="fa fa-car fa-lg"></i> Enrollment <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="master">
                    <li><a routerLink="student">Student</a></li>
                    <li><a routerLink="teacher">Teacher</a></li>
                    <li><a routerLink="course">Course</a></li>
                    <li><a routerLink="teacher">Payment</a></li>
                </ul>
        
                <li data-toggle="collapse" data-target="#Payment" class="collapsed">
                  <a href="#"><i class="fa fa-car fa-lg"></i> Payment <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="Payment">
                    <li><a routerLink="student">Student</a></li>
                    <li><a routerLink="teacher">Teacher</a></li>
                    <li><a routerLink="course">Course</a></li>
                    <li><a routerLink="teacher">Payment</a></li>
                </ul>
        
                <li>
                  <a href="#">
                    <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                </li>
        
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-car fa-lg"></i> Service <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>Sensorkonfiguration</li>
                  <li>Betriebsarten</li>
                </ul>
              </ul>
            </div>
          </div>
     